@import 'assets/styles/_variables';
@import 'assets/styles/_typography';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// MOBILE CODE FIRST
// also fine for tablet landscape

.calculator {
    background-color: $primary-color;
    border: 3px solid black;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    gap: 20px;
    &__output {
        grid-row: span 2;
        grid-column: span 4;
        background-color: white;
        border: 3px solid black;
        border-radius: 3px;
    }
    &__double {
        grid-column: span 2;
    }
    button {
        background-color: white;
        border: 3px solid black;
        // use border-radius 50% to make buttons round
        border-radius: 50%;
        font-size: 30px;
        font-family: $button-font;
    }
}

// DESKTOP CODE

@media screen and (min-width: 1000px) {
    .calculator {
        max-width: 500px;
        max-height: 800px;
        border-radius: 7px;
        margin: 30px;
    }
}