* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.calculator {
  background-color: #9A031E;
  border: 5px solid black;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  gap: 20px;
}
.calculator__output {
  padding: 10px;
  grid-row: span 2;
  grid-column: span 4;
  background-color: white;
  border: 5px solid black;
  border-radius: 3px;
  font-size: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.calculator__double {
  grid-column: span 2;
}
.calculator button {
  background-color: white;
  border: 3px solid black;
  border-radius: 50%;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  box-shadow: 5px 8px black;
}

@media screen and (min-width: 1000px) {
  .calculator {
    max-width: 500px;
    max-height: 800px;
    border-radius: 7px;
    margin: 30px;
  }
  .calculator__output {
    font-size: 90px;
  }

  button:hover {
    background-color: black;
    border: 3px solid white;
    color: white;
  }
}