@import 'assets/styles/_variables';
@import 'assets/styles/_typography';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// MOBILE CODE FIRST
// also fine for tablet landscape

.calculator {
    background-color: $primary-color;
    border: 5px solid $tertiary-color;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    gap: 20px;
    &__output {
        padding: 10px;
        grid-row: span 2;
        grid-column: span 4;
        background-color: $secondary-color;
        border: 5px solid $tertiary-color;
        border-radius: 3px;
        font-size: 70px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        // stop digits going over end of calculator screen
        // digits can keep being typed - how to resolve this?
        overflow-x: hidden;
    }
    &__double {
        grid-column: span 2;
    }
    button {
        background-color: $secondary-color;
        border: 3px solid $tertiary-color;
        // use border-radius 50% to make buttons round
        border-radius: 50%;
        font-size: 30px;
        font-family: $button-font;
        font-weight: bold;
        box-shadow: 5px 8px $tertiary-color;
    }
}

// DESKTOP CODE

@media screen and (min-width: 1000px) {
    body {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
    .calculator {
        max-width: 500px;
        max-height: 800px;
        border-radius: 7px;
        &__output {
            font-size: 90px;
        }
    }
    
    button:hover {
        background-color: $tertiary-color;
        border: 3px solid $secondary-color;
        color: $secondary-color;
    }
}





// on click desktop - whole button goes black
// on click mobile - hover styling on desktop
// on click, remove box shadow/'pressing' effect